/* Reset styles */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    scroll-padding-top: 5rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Define light and dark palettes with CSS variables */

/* Light mode */
:root[color-mode="light"] {
    --bg-color: #fff;
    --box-color: #e5e5e5;
    --bar-color: #e5e5e5;
    --font-color: #373737;
    --a-color: #0168b7;
}

/* Dark mode */
:root[color-mode="dark"] {
    --bg-color: #373737;
    --box-color: #4b4b4b;
    --bar-color: #c4c4c4;
    --font-color: #fff;
    --a-color: #4dc9ff;
}

/* General Styles */

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: .1rem;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, .25);
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.125rem;
}

@media only screen and (min-width: 600px) {
    h3 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 800px) {
    h3 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1000px) {
    h3 {
        font-size: 1.5rem;
    }
}

h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
}

p, a, span {
    font-family: "Poppins", sans-serif;
}

h2, h3, h4, h5, span {
    letter-spacing: .05rem;
}

h2, h3, h4, span {
    font-weight: 700;
}

h5, strong {
    font-weight: 600;
}

p, span {
    font-size: 1rem;
}

h5 {
    font-size: .75rem;
}

p {
    text-align: left;
}

a {
    color: var(--a-color);
    font-weight: 600;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/* Header */

header.main {
    width: 100%;
    height: 3.75rem;
    background-color: #373737;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px #fff;
    position: fixed;
    z-index: 5;
    top: 0;
}

/* Logo */
#logo-wrapper {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#logo {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: #373737;
    text-decoration: none;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, .25);
    margin-left: 3px;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

/* Mobile nav content */
.sidebar {
    background-color: #373737;
    opacity: .98;
    width: 0;
    height: 100%;
    position: fixed;
    top: 3.75rem;
    right: 0;
    z-index: 4;
    transition: 0.5s;
}

@media only screen and (min-width: 600px) {
    .sidebar {
        position: relative;
        width: auto;
        height: auto;
        top: 0;
        margin-right: .5rem;
    }
}

.sidebar a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 1.5rem 4rem .5rem 1rem;
    transition: .4s;
}

@media only screen and (min-width: 600px) {
    .sidebar a {
        display: inline-block;
        padding: 0 .5rem 0 0;
        font-size: 1rem;
    }
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    text-decoration: underline;
}

#open-btn, #close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: .5rem;
}

@media only screen and (min-width: 600px) {
    #open-btn {
        display: none;
    }
}


#close-btn {
    display: none;
}

#menu-icon, #close-icon {
    font-size: 2rem;
    color: #fff;
}

#menu-icon:hover,
#menu-icon:focus,
#menu-icon:active,
#close-icon:hover,
#close-icon:focus,
#close-icon:active {
    color: #4dc9ff;
}

/* Toggle switch */

.mode-switch-wrapper {
    display: flex;
    align-items: center;
}

.mode-switch {
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 2.5rem;
}

.mode-switch input {
    display: none;
}

.slider {
    background-color: var(--box-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #373737;
    bottom: .25rem;
    content: "";
    height: .75rem;
    left: .25rem;
    position: absolute;
    transition: .4s;
    width: .75rem;
}

input:checked + .slider {
    background-color: #44ddcc;
}

input:checked + .slider:before {
    transform: translateX(1.25rem);
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

#sun-icon, #moon-icon {
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1rem;
}

/* Main */

#overlay {
    width: 0;
    height: 100%;
    background-color: #373737;
    opacity: .9;
    z-index: 2;
    position: fixed;
    top: 3.75rem;
}

main {
    width: 83%;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
    margin: 5.75rem auto 1rem auto;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 2px;
    background-color: var(--font-color);
}

.box {
    background-color: var(--box-color);
    border-radius: 25px;
}

/* Home */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-img1 {
    width: 86%;
    height: 86%;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
}

#home h1, h3 {
    padding-top: 1rem;
}

@media only screen and (min-width: 600px) {
    #home {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #profile-img1 {
        width: 50%;
    }
    #home .text-wrapper {
        margin-left: 1rem;
    }
}

/* About */

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 800px) {
    .about-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    #about .text-wrapper {
        width: 50%;
        margin-right: 1rem;
    }
}

/* Fun fact slider */

.fun-fact-wrapper {
    margin-top: 2rem;
    padding: 1rem;
    width: auto;
    height: auto;
    max-width: 420px;
    max-height: 325px;
    display: block;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .fun-fact-wrapper {
        width: 50%;
        margin-top: 0;
        margin-left: 1rem;
    }
}

.slide {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide .icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide i {
    font-size: 2rem;
    color: #373737;
}

.slide h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.slide p {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.glider-prev, .glider-next {
    top: 40%;
    color: var(--font-color);
    opacity: .75;
    transition: opacity .4s ease,
                color .4s ease;
}

.glider-prev i, .glider-next i {
    font-size: 3rem;
}

.glider-prev {
    left: -10px;
}

.glider-next {
    right: -10px;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: var(--font-color);
    opacity: 1;
}

.glider-next.disabled,
.glider-prev.disabled {
    color: var(--font-color);
    opacity: .25;
}

.glider-dot {
    color: var(--font-color);
    background: var(--font-color);
    opacity: .25;
    width: 10px;
    height: 10px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
    background: var(--font-color);
    opacity: 1;
}

/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.skill {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 640px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.skill i {
    display: inline-block;
    font-size: 3rem;
    margin-right: .5rem;
}

@media only screen and (min-width: 1000px) {
    .skill i {
        font-size: 3.75rem;
    }
}

.skill-bar {
    width: 80%;
    text-align: left;
    display: inline-block;
    flex-grow: 1.5;
    max-width: 560px;
}

.skill-bar .info {
    margin-left: .25rem;
    margin-bottom: .25rem;
}

.bar {
    background-color: var(--bar-color);
    border-radius: 5px;
    width: 100%;
    height: 1.25rem;
    text-align: right;
}

.progress-line {
    background-color: #81F539;
    border-radius: 5px;
    height: 1.25rem;
}

@media only screen and (min-width: 1000px) {
    .bar, .progress-line {
        height: 1.85rem;
    }
}

.delighter .progress-line {
    display: block; 
    transition: all 2s ease-out; 
    opacity: 0;
    width: 1px; 
    overflow: hidden;
}

.delighter.started .progress-line {
    opacity: 1;
}

.delighter.started .html {
    width: 80%;
}

.delighter.started .css {
    width: 60%;
}

.delighter.started .js {
    width: 30%;
}

.delighter.started .git {
    width: 20%;
}

.delighter.started .progress-line.py {
    width: 20%;
}

/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#projects p {
    margin-bottom: 2rem;
}

#projects p span {
    font-weight: 400;
}

@media only screen and (min-width: 1000px) {
    #projects p span {
        display: none;
    }
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media only screen and (min-width: 1000px) {
    .projects-wrapper {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.project-wrapper-preview {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    min-width: 300px;
    min-height: 185px;
    max-width: 420px;
    max-height: 325px;
    background: #000;
    overflow: hidden;
    border-radius: 25px;
    display: grid;
    grid-template: 100% / 100%;
}

@media only screen and (min-width: 1000px) {
    .project-wrapper-preview {
        display: none;
    }
}

.project-wrapper-preview img {
    height: 100%;
    opacity: .9;
    grid-row: 1;
    grid-column: 1;
}

.project-wrapper-preview .project-content {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-wrapper-preview .project-content p {
    margin: 1rem auto;
}

#projects .languages {
    align-self: flex-start;
    margin-bottom: .5rem;
}

#projects .languages span {
    background-color: #fff;
    padding: .25rem .5rem;
    border-radius: 5px;
    color: #373737;
    margin-right: .25rem;
}

#p-one, #p-two, #p-three {
    display: none;
}

.project-wrapper-full {
    width: 83%;
    min-width: 300px;
    max-width: 420px;
    min-height: 490px;
    max-height: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 2;
    top: 50%;
    transform: translate(0, -45%);
}

@media only screen and (min-height: 570px) {
    .project-wrapper-full {
        max-height: 540px;
    }
}

@media only screen and (min-width: 1000px) {
    .project-wrapper-full {
        min-width: 0;
        width: 295px;
        height: 550px;
        max-height: 600px;
        position: relative;
        top: 0;
        transform: none;
        margin: 0 .5rem;
    }
    #p-one, #p-two, #p-three {
        display: block;
    }
    .project-wrapper-full .project-close-btn {
        display: none;
    }
}

.project-wrapper-full .project-close-btn {
    position: absolute;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem 1rem auto auto;
    right: 0;
    z-index: 2;
}

.project-wrapper-full .project-close-btn:hover,
.project-wrapper-full .project-close-btn:focus,
.project-wrapper-full .project-close-btn:active {
    color: #4dc9ff;
    cursor: pointer;
}

.project-wrapper-full header.project {
    background-color: #000;
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: grid;
    grid-template: 100% / 100%;
}

.project-wrapper-full header.project img {
    height: 100%;
    opacity: .9;
    grid-area: 1 / 1;
}

.project-wrapper-full header.project h4 {
    color: #fff;
    z-index: 2;
    grid-area: 1 / 1;
    margin-top: 55px;
}

.project-wrapper-full .project-content {
    width: 90%;
    overflow: auto;
    margin: 1rem auto;
}

.project-wrapper-full .project-content p,
.project-wrapper-full .project-content ul {
    margin-bottom: 1.5rem !important;
    text-align: left;
}

.project-wrapper-full .project-content .heading {
    margin-bottom: .5rem !important;
    font-weight: 600;
}

.project-wrapper-full .project-content ul {
    list-style: disc;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

#view-p {
    margin-bottom: .5rem !important;
}

/* Contact */

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .contact-wrapper {
        flex-direction: row;
        justify-content: center;
    }
}

#profile-img2 {
    width: 40%;
    height: 40%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
    #profile-img2 {
        width: 50%;
        margin-bottom: 0;
    }
    .contact-content {
        margin: 0 2rem;
    }
}

.contact-content span {
    display: block;
    margin: 1rem auto;
}

.contact-content a {
    color: var(--font-color);
    font-size: 2rem;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: var(--font-color);
    margin: 8px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: 65%;
    margin: 2rem auto;
}

.hr-sect:before,
.hr-sect:after {
    content: "";
    flex-grow: 1;
    background: var(--font-color);
    height: 1.5px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.social-media a {
    padding: 0 .25rem;
}

@media only screen and (min-width: 600px) {
    .social-media {
        margin-bottom: 1rem;
    }
}

.contact-content a:hover,
.contact-content a:focus,
.contact-content a:active {
    color: var(--a-color);
    text-decoration: none;
}

/* Footer */

footer {
    width: 100%;
    height: 3.75rem;
    background-color: #373737;
    color: #fff;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    border-top: solid 1.5px #fff;
}

footer h5 {
    padding-bottom: .5rem;
}

@media only screen and (min-width: 600px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
    }
    footer h5 {
        padding: 0;
    }
}
