/* Reset styles */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Define light and dark palettes with CSS variables */

/* Light mode */
:root[color-mode="light"] {
    --bg-color: #fff;
    --box-color: #e5e5e5;
    --bar-color: #e5e5e5;
    --font-color: #373737;
    --a-color: #0168b7;
}

/* Dark mode */
:root[color-mode="dark"] {
    --bg-color: #373737;
    --box-color: #4b4b4b;
    --bar-color: #c4c4c4;
    --font-color: #fff;
    --a-color: #4dc9ff;
}

/* General Styles */

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
    font-variant: small-caps;
}

p, a, span {
    font-family: "Poppins", sans-serif;
}

p {
    text-align: justify;
}

a {
    color: var(--a-color);
    font-weight: 600;
}

h2, h3, h4, h5, span {
    letter-spacing: .05rem;
}

h1, h2, h4, span {
    font-weight: 700;
}

h3, h5 {
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    letter-spacing: .1rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.125rem;
}

h3, p, span {
    font-size: 1rem;
}

h5 {
    font-size: .75rem;
}

strong {
    font-weight: 600;
}

/* Header */

header.main {
    width: 100%;
    height: 3.75rem;
    background-color: #373737;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px #fff;
    position: fixed;
    z-index: 2;
    top: 0;
}

/* Logo */
#logo-wrapper {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#logo {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: #373737;
    text-decoration: none;
    text-shadow: 1px 5px 5px rgba(0, 0, 0, .25);
    margin-left: 3px;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

/* Mobile nav content */
.sidebar {
    background-color: #373737;
    opacity: .98;
    width: 0;
    height: 100%;
    position: fixed;
    top: 3.75rem;
    right: 0;
    z-index: 1;
    transition: 0.5s;
}

.sidebar a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .05rem;
    text-decoration: none;
    font-variant: small-caps;
    color: #fff;
    display: block;
    padding: 1.5rem 4rem 0 1rem;
    transition: 0.4s;
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
    color: #4dc9ff;
}

#open-btn, #close-btn {
    background-color: #373737;
    border: none;
    cursor: pointer;
}

#close-btn {
    display: none;
}

#menu-icon, #close-icon {
    font-size: 2rem;
    color: #fff;
}

#menu-icon:hover,
#menu-icon:focus,
#menu-icon:active,
#close-icon:hover,
#close-icon:focus,
#close-icon:active {
    color: #4dc9ff;
}

/* Toggle switch */

.mode-switch-wrapper {
    display: flex;
    align-items: center;
    padding-right: .5rem;
}

.mode-switch {
    display: inline-block;
    height: 1.25rem;
    position: relative;
    width: 2.5rem;
}

.mode-switch input {
    display: none;
}

.slider {
    background-color: var(--box-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #373737;
    bottom: .25rem;
    content: "";
    height: .75rem;
    left: .25rem;
    position: absolute;
    transition: .4s;
    width: .75rem;
}

input:checked + .slider {
    background-color: #44ddcc;
}

input:checked + .slider:before {
    transform: translateX(1.25rem);
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 50%;
}

#sun-icon, #moon-icon {
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1rem;
}

/* Main */

main {
    width: 83%;
    min-width: 300px;
    text-align: center;
    margin: 4.75rem auto 1rem auto;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 1.5px;
    background-color: var(--font-color);
}

.box {
    background-color: var(--box-color);
    border-radius: 25px;
}

/* Home */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile-img1, #profile-img2 {
    width: 86%;
    height: 86%;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
}

#home h1, h3 {
    padding-top: 1rem;
}

/* Fun fact slider */

.fun-fact-wrapper {
    margin-top: 2rem;
    padding: 1rem;
    width: auto;
    height: auto;
    max-width: 420px;
    max-height: 325px;
}

.slide {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide .icon-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide i {
    font-size: 2rem;
    color: #373737;
}

.slide h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.slide p {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.glider-prev, .glider-next {
    top: 40%;
    color: var(--font-color);
    opacity: .75;
    transition: opacity .4s ease,
                color .4s ease;
}

.glider-prev i, .glider-next i {
    font-size: 3rem;
}

.glider-prev {
    left: -10px;
}

.glider-next {
    right: -10px;
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
    color: var(--font-color);
    opacity: 1;
}

.glider-next.disabled,
.glider-prev.disabled {
    color: var(--font-color);
    opacity: .25;
}

.glider-dot {
    color: var(--font-color);
    background: var(--font-color);
    opacity: .25;
    width: 10px;
    height: 10px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: var(--font-color);
  opacity: 1;
}

/* Skills */

.skill {
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.skill i {
    display: inline-block;
    font-size: 3rem;
    margin-right: .5rem;
}

.skill-bar {
    width: 80%;
    text-align: left;
    display: inline-block;
    flex-grow: 1.5;
    max-width: 560px;
}

.skill-bar .info {
    margin-left: .25rem;
    margin-bottom: .25rem;
}

.bar {
    background-color: var(--bar-color);
    border-radius: 5px;
    width: 100%;
    height: 1.25rem;
    text-align: right;
}

.progress-line {
    background-color: #81F539;
    border-radius: 5px;
    height: 1.25rem;
}

.delighter .progress-line {
    display: block; 
    transition: all 2s ease-out; 
    opacity: 0;
    width: 1px; 
    overflow: hidden;
}

.delighter.started .progress-line {
    opacity: 1;
}

.delighter.started .progress-line.html {
    width: 80%;
}

.delighter.started .progress-line.css {
    width: 60%;
}

.delighter.started .progress-line.js {
    width: 30%;
}

.delighter.started .progress-line.git {
    width: 20%;
}

.delighter.started .progress-line.py {
    width: 20%;
}

/* Footer */

footer {
    width: 100%;
    height: 3.75rem;
    background-color: #373737;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
}

footer h5 {
    padding-bottom: .5rem;
}

#projects img {
    display: none;
}